<p id="notice"><%= notice %></p>

<h1>Listing Customer Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Middle initial</th>
      <th>Lname</th>
      <th>Street add</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Email</th>
      <th>Home phone</th>
      <th>Cell phone</th>
      <th>Phone pref</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_accounts.each do |customer_account| %>
      <tr>
        <td><%= customer_account.fname %></td>
        <td><%= customer_account.middle_initial %></td>
        <td><%= customer_account.lname %></td>
        <td><%= customer_account.street_add %></td>
        <td><%= customer_account.city %></td>
        <td><%= customer_account.state %></td>
        <td><%= customer_account.zipcode %></td>
        <td><%= customer_account.email %></td>
        <td><%= customer_account.home_phone %></td>
        <td><%= customer_account.cell_phone %></td>
        <td><%= customer_account.phone_pref %></td>
        <td><%= customer_account.password %></td>
        <td><%= link_to 'Show', customer_account %></td>
        <td><%= link_to 'Edit', edit_customer_account_path(customer_account) %></td>
        <td><%= link_to 'Destroy', customer_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer account', new_customer_account_path %>
