<p id="notice"><%= notice %></p>
<p>
  <strong>First name:</strong>
  <%= @customer_account.fname %>
</p>

<p>
  <strong>Middle initial:</strong>
  <%= @customer_account.middle_initial %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer_account.lname %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @customer_account.street_add %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer_account.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer_account.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @customer_account.zipcode %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer_account.email %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @customer_account.home_phone %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @customer_account.cell_phone %>
</p>

<p>
  <strong>Phone preference:</strong>
  <%= @customer_account.phone_pref %>
</p>

<p>
  <strong>Password:</strong>
  <%= @customer_account.password %>
</p>

<div class="row">
   <div class="col-md-2 col-md-offset-0">
      <%= link_to 'Edit your information', edit_customer_account_path(@customer_account), class: "btn btn-info" %>
   </div>
   <div class="col-md-2 col-md-offset-0">
      <%= link_to 'Home', root_path, class: "btn btn-success" %>
   </div>
</div>

<% if false %>
<%= link_to 'Edit', edit_customer_account_path(@customer_account) %> |
<%= link_to 'Back', root_path %>
<% end %>